@using TheBrickVault.Components.Services
@using TheBrickVault.Core.Models
@using TheBrickVault.Infrastructure.Data



@page "/"

@inject LegoDbContext DbContext
@inject RebrickableService RebrickableService



<h3>The Brick Vault</h3>
<h5>Jena White's Capstone Project</h5>
<h5>Code:You, August 2024 Cohort</h5>

<img src="images/Thebrickvaultlogo.png" alt="image of a chest full of colorful bricks" style="width: 200px; 
height: auto; place-content: left; padding: 10px;"/>


<h6> Search Lego Sets </h6>

<InputText @bind-Value="searchQuery" placeholder="Search by Set Number or Name" class="form-control" />
<button class="btn btn-primary" @onclick="SearchLegoSets" style="margin: 10px;">Search</button>

@if (legoSets != null && legoSets.Count > 0)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Save</th>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var legoSet in legoSets)
            {
                <tr>
                    <td>
                        <button @onclick="() => SaveLegoSet(legoSet)" class="btn btn-success btn-sm">
                            <i class="bi bi-save"></i> 

                        </button>
                    </td>
                    <td>@legoSet.set_num</td>
                    <td>@legoSet.name</td>
                    <td>@legoSet.num_parts</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (legoSets != null && legoSets.Count == 0)
{
    <p>No Lego sets found.</p>
}

<h6> User's Lego Sets</h6>

@if (userLegoSets != null && userLegoSets.Count > 0)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var legoSet in userLegoSets)
            {
                <tr>
                    <td>@legoSet.SetNum</td>
                    <td>@legoSet.Name</td>
                    <td>@legoSet.PieceCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Lego sets saved.</p>
}
 
@code {
    private List<RebrickableLegoSet> legoSets = new List<RebrickableLegoSet>();
    private List<LegoSet> userLegoSets = new List<LegoSet>();
    private string searchQuery;

    private async Task SearchLegoSets()
    {
        if (!string.IsNullOrWhiteSpace(searchQuery))
        {
            legoSets = await RebrickableService.SearchLegoSetsAsync(searchQuery);
        }
        else
        {
            legoSets.Clear();
        }
    }

    private async Task SaveLegoSet(RebrickableLegoSet legoSet)
    {
        var newLegoSet = new LegoSet
        {
            SetNum = legoSet.set_num,
            Name = legoSet.name,
            PieceCount = legoSet.num_parts
        };
        await DbContext.LegoSets.AddAsync(newLegoSet);
        await DbContext.SaveChangesAsync();
        await LoadUserLegoSets(); 
    }
    
    private async Task LoadUserLegoSets()
    {
        userLegoSets = await DbContext.LegoSets.ToListAsync();
    }

}