@using TheBrickVault.Components.Services
@using TheBrickVault.Core.Models
@using TheBrickVault.Infrastructure.Data
@using TheBrickVault.Core.DTO

@page "/"

@inject LegoDbContext DbContext
@inject RebrickableService RebrickableService


<h3>The Brick Vault</h3>
<h6>Jena White's Capstone Project</h6>
<h6>Code:You, August 2024 Cohort</h6>

<img src="images/Thebrickvaultlogo.png" alt="image of a chest full of colorful bricks" style="width: 200px; 
height: auto; place-content: left; padding: 10px;"/>


<h4> Search Lego Sets </h4>

<InputText @bind-Value="searchQuery" placeholder="Search by Set Number or Name" class="form-control" />
<button class="btn btn-primary" @onclick="SearchLegoSets" style="margin: 10px;">Search</button>

@if (setsWithParts != null && setsWithParts.Count > 0)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Save</th>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setWithParts in setsWithParts)
            {
                <tr>
                    <td>
                        <button @onclick="() => SaveLegoSet(setWithParts.Set)" class="btn btn-success btn-sm">
                            <i class="bi bi-save"></i> 

                        </button>
                    </td>
                    <td>@setWithParts.Set.set_num</td>
                    <td>@setWithParts.Set.name</td>
                    <td>@setWithParts.Set.num_parts</td>
                </tr>
            }
        </tbody>
    </table>
}

else if (searchPerformed && setsWithParts.Count == 0)
{
    <p>No Lego sets found.</p>
}

<h4> User's Lego Sets</h4>

@if (userLegoSets != null && userLegoSets.Count > 0)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var legoSet in userLegoSets)
            {
                <tr>
                    <td>@legoSet.SetNum</td>
                    <td>@legoSet.Name</td>
                    <td>@legoSet.PieceCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Lego sets saved.</p>
}
<button class="btn btn-danger" @onclick="ClearSavedLegoSets" style="margin: 10px;">Clear Saved Lego Sets</button>

@code {
    private List<RebrickableLegoSetWithParts> setsWithParts = new List<RebrickableLegoSetWithParts>();
    private List<DbLegoSet> userLegoSets = new List<DbLegoSet>();
    private string searchQuery;
    private bool searchPerformed = false;


    //this method is triggered when the user clicks the search button, it searches for Lego sets based on the search query.
    // I still don't like it.  It will show up if the API is being a little slow to respond. I need to add a loading spinner instead.
    private async Task SearchLegoSets()
    {
        searchPerformed = true;
        if (!string.IsNullOrWhiteSpace(searchQuery))
        {
            setsWithParts = await RebrickableService.FetchSetsAndPartsAsync(searchQuery);
        }
        else
        {
            setsWithParts.Clear();
        }
    }


    //SaveLegoSet method is triggered when the user clicks the save button, it saves the Lego set to the database.
    // private async Task SaveLegoSet(RebrickableLegoSet legoSet)
    // {
    //     var newLegoSet = new DbLegoSet
    //     {
    //         SetNum = legoSet.set_num,
    //         Name = legoSet.name,
    //         PieceCount = legoSet.num_parts
    //     };
    //     await DbContext.DbLegoSets.AddAsync(newLegoSet);
    //     await DbContext.SaveChangesAsync();
    //     await LoadUserLegoSets(); 
    // }
    

    //  block of code to use the SaveLegoSet method with the RebrickableLegoSetWithParts object instead of the FetchPartsForSetsAsync method.
    private async Task SaveLegoSet(RebrickableLegoSetWithParts setWithParts) 
    {
        var newLegoSet = new DbLegoSet
            {
                SetNum = setWithParts.Set.set_num,
                Name = setWithParts.Set.name,
                PieceCount = setWithParts.Set.num_parts
            };
        await DbContext.DbLegoSets.AddAsync(newLegoSet);
        await DbContext.SaveChangesAsync();

        foreach (var part in setsWithParts.Parts)
        {
            var newLegoPart = new DbLegoPart
                {
                    PartNum = part.part_num,
                    Name = part.name,
                    SetNum = setWithParts.Set.set_num,
                    Quantity = part.quantity,
                    LegoSet = newLegoSet
                };
            await DbContext.DbLegoParts.AddAsync(newLegoPart);
        }
        await DbContext.SaveChangesAsync();
        await LoadUserLegoSets();
    }
    

    //LoadUserLegoSets method is triggered when the user clicks the save button, it loads the Lego sets to the UI and to the database. 
    private async Task LoadUserLegoSets()
    {
        userLegoSets = await DbContext.DbLegoSets.ToListAsync();
    }

    //ClearSavedLegoSets method is triggered when the user clicks the clear button, it clears the Lego sets from the UI and the database.
    private async Task ClearSavedLegoSets()
    {
        DbContext.DbLegoSets.RemoveRange(DbContext.DbLegoSets);
        await DbContext.SaveChangesAsync();
        await LoadUserLegoSets();
    }
}