@using TheBrickVault.Components.Services
@using TheBrickVault.Core.Models
@using TheBrickVault.Infrastructure.Data
@using TheBrickVault.Core.DTO

@page "/"

@inject LegoDbContext DbContext
@inject RebrickableService RebrickableService


<h3>The Brick Vault</h3>
<h6>Jena White's Capstone Project</h6>
<h6>Code:You, August 2024 Cohort</h6>

<img src="images/Thebrickvaultlogo.png" alt="image of a chest full of colorful bricks" style="width: 200px; 
height: auto; place-content: left; padding: 10px;"/>


<h4> Search Lego Sets </h4>

<InputText @bind-Value="searchQuery" placeholder="Search by Set Number or Name" class="form-control" />

<button class="btn btn-primary" @onclick="SearchLegoSets" disabled="@isLoadingSearch"style="margin: 10px;">Search</button>


@if (isLoadingSearch)
{
    <p>Loading sets, please wait...</p>
}

else if (hasSearched && setsWithParts.Count == 0)
{
    <p>No Lego sets found.</p>
}
else if (hasSearched && setsWithParts.Count > 0)
{

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Save</th>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setWithParts in setsWithParts)
            {
                <tr>
                    <td>
                        <button @onclick="() => SaveLegoSet(setWithParts)" class="btn btn-success btn-sm">
                            <i class="bi bi-save"></i> 

                        </button>
                    </td>
                    <td>@setWithParts.Set.set_num</td>
                    <td>@setWithParts.Set.name</td>
                    <td>@setWithParts.Set.num_parts</td>
                </tr>
            }
        </tbody>
    </table>
}





<hr style="border: 1px solid; margin: 20px 0;" />

<h4> Your Lego Sets</h4>

@if (userLegoSets != null && userLegoSets.Count > 0)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Delete Set</th>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var legoSet in userLegoSets)
            {

                <tr>
                    <td>
                        <button @onclick="() => DeleteLegoSet(legoSet)" class="btn btn-danger">
                            <i class="bi bi-trash"></i>

                        </button>
                    </td>
                    <td>@legoSet.SetNum</td>
                    <td>@legoSet.Name</td>
                    <td>@legoSet.PieceCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Lego sets saved.</p>
}
<button class="btn btn-danger" @onclick="ClearSavedLegoSets" style="margin: 10px;">Clear Saved Lego Sets</button>

<hr style="border: 1px solid; margin: 20px 0;" />

<h4>Find Matching Lego Sets</h4>

<button @onclick="FindMatchingSets" disabled="@isLoadingMatches" class="btn btn-primary" style="margin: 10px;">Find Matching Sets</button>

@if (isLoadingMatches)
{
    <p>Loading sets, please wait...</p>
}

else if (hasMatched && matchingSets.Count == 0)
{
    <p>No matching Lego sets found.</p>
}
else if (hasMatched && matchingSets.Count > 0)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Set Number</th>
                <th>Name</th>
                <th>Number of Pieces</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setWithParts in matchingSets)
            {
                <tr>
                    <td>@setWithParts.Set.set_num</td>
                    <td>@setWithParts.Set.name</td>
                    <td>@setWithParts.Set.num_parts</td>
                </tr>
            }
        </tbody>
    </table>
}






@code {
    private List<RebrickableLegoSetWithParts> setsWithParts = new List<RebrickableLegoSetWithParts>();
    private List<DbLegoSet> userLegoSets = new List<DbLegoSet>();
    private string searchQuery;
    private bool isLoadingSearch = false;
    private bool hasSearched = false;
    private bool isLoadingMatches = false;
    private bool hasMatched = false;


    //this method is triggered when the user clicks the search button, it searches for Lego sets based on the search query.

    private async Task SearchLegoSets()
    {
        isLoadingSearch = true;
        hasSearched = true;

        setsWithParts = await RebrickableService.FetchSetsAndPartsAsync(searchQuery);

        isLoadingSearch = false;

        StateHasChanged();

        // if (!string.IsNullOrWhiteSpace(searchQuery))
        // {
        //     setsWithParts = await RebrickableService.FetchSetsAndPartsAsync(searchQuery);
        // }
        // else
        // {
        //     setsWithParts.Clear();
        // }
    }



    //  block of code to use the SaveLegoSet method with the RebrickableLegoSetWithParts object.
    private async Task SaveLegoSet(RebrickableLegoSetWithParts setWithParts) 
    {
        var newLegoSet = new DbLegoSet
            {
                SetNum = setWithParts.Set.set_num,
                Name = setWithParts.Set.name,
                PieceCount = setWithParts.Set.num_parts
            };
        await DbContext.DbLegoSets.AddAsync(newLegoSet);
        await DbContext.SaveChangesAsync();            
        await LoadUserLegoSets();
    }

    //DeleteLegoSet method is triggered when the user clicks the delete button, it deletes the Lego set and parts from the database.
    private async Task DeleteLegoSet(DbLegoSet legoSet)
    {
        var legoSetToDelete = await DbContext.DbLegoSets.FirstOrDefaultAsync(ls => ls.SetNum == legoSet.SetNum);
        if (legoSetToDelete != null)
        {
            var partsToDelete = await DbContext.DbLegoParts.Where(DbLegoPart => DbLegoPart.SetNum == legoSet.SetNum).ToListAsync();
            DbContext.DbLegoParts.RemoveRange(partsToDelete);

            DbContext.DbLegoSets.Remove(legoSetToDelete);

            await DbContext.SaveChangesAsync();
            await LoadUserLegoSets();
        }
    }


    //LoadUserLegoSets method is triggered when the user clicks the save button, it loads the Lego sets to the UI and to the database. 
    private async Task LoadUserLegoSets()
    {
        userLegoSets = await DbContext.DbLegoSets.ToListAsync();
    }

    //ClearSavedLegoSets method is triggered when the user clicks the clear button, it clears the Lego sets from the UI and the database.
    private async Task ClearSavedLegoSets()
    {

        DbContext.DbLegoSets.RemoveRange(DbContext.DbLegoSets);
        await DbContext.SaveChangesAsync();
        await LoadUserLegoSets();
    }

    private List<RebrickableLegoSetWithParts> matchingSets = new();

    private async Task FindMatchingSets()
    {
        isLoadingMatches = true;

        matchingSets = await RebrickableService.FindMatchingSetsAsync();

        isLoadingMatches = false;

        StateHasChanged();
    }
}